# Visual Studio
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates

# Build results
bin/
obj/
out/

# .NET
*.dll
*.exe
*.pdb

# Test results
TestResults/

# Rider / VS Code
.idea/
.vscode/

# OS files
.DS_Store
Thumbs.db